<app-navbar></app-navbar>
<div class="container-fluid pr-0 pl-0 h-100 d-flex flex-column">
	<router-outlet></router-outlet>
	<footer class="container-fluid bg-white py-5 mt-auto">
		<div class="row">
			<div class="col-lg-3">
				<h3 class="text-uppercase">Questions?</h3>
				<ul class="list-unstyled">
					<li>
						<a href="" class="py-1">Help</a>
					</li>
					<li>
						<a href="" class="py-1">Track Order</a>
					</li>
					<li>
						<a href="" class="py-1">Returns</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h3 class="text-uppercase">What's in store</h3>
				<ul class="list-unstyled">
					<li>
						<a href="" class="py-1">Women</a>
					</li>
					<li>
						<a href="" class="py-1">Men</a>
					</li>
					<li>
						<a href="" class="py-1">Product A-Z</a>
					</li>
					<li>
						<a href="" class="py-1">Buy Gift Vouchers</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h3 class="text-uppercase">Follow us</h3>
				<ul class="list-unstyled">
					<li>
						<a href="" class="py-1">Facebook</a>
					</li>
					<li>
						<a href="" class="py-1">Twitter</a>
					</li>
					<li>
						<a href="" class="py-1">YouTube</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<p>@2016 Shopmate Ltd</p>
			</div>
		</div>
	</footer>
</div>

