ngb-carousel .carousel-item img { width: 100%; height: 250px; }
ngb-carousel:focus { outline: none; }
.bg-wow { background-color: #84E6F1; }
.subscribe-area { background-color: #EFEFEF; }
.subscribe-area input { border-left: none; }
