<div class="row my-3 mx-0">
  	<div class="col-lg-3">
		<div class="w-100 shadow-sm bg-white">
			<div class="filter-heading p-3">
				<h3>Filter 0 Items</h3>
			</div>
			<div class="filters p-3">
				<div class="filter pb-3">
					<h3 class="py-2">Color</h3>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
				</div>
				<div class="filter pb-3">
					<h3 class="py-2">Size</h3>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
				</div>
				<div class="filter pb-3">
					<h3 class="py-2">Price</h3>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
					<span class="badge badge-light p-2 mx-1">Light</span>
				</div>
				
			</div>
		</div>
	</div>
  	<div class="col-lg-9">
    	<div class="row">
      		<div class="col-lg-4 pb-4" *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
				<div class="w-100 bg-white text-center pb-3 shadow-sm product">
					<img src="https://via.placeholder.com/329X350" class="img-fluid">
					<h2 class="p-3">Product name</h2>
					<p>$12.99</p>
					<button class="btn btn-primary btn-lg">Buy Now</button>
				</div>
			</div>
    	</div>
  	</div>
</div>