.filter-heading { background: #FAFAFA; }
.filters h3 { color: #B4B4B4; }
.badge-light { background: #EFEFEF; color: #6C6C6C; cursor: pointer; font-weight: 400; border-radius: 2px; }
.badge-light:hover { background: var(--primary); color: var(--white); }
.filter .badge-ligh:first { margin-left: 0px; }
.product:hover { box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }